.large-icon {
  font-size: 32px;
}

.spotify-client {
  height: 100vh;
}

.text {
  &-supplementary {
    font-size: 12px;
  }

  &-body {
    font-size: 14px;

    &-small {
      font-size: 13px;
    }
  }

  &-title {
    font-size: 18px;

    &-main {
      font-size: 20px;
    }

    &-small {
      font-size: 16px;
    }
  }
}
